In [109]:
import pandas as pd
import pandas as pd
import numpy as np
import warnings 
import math
warnings.filterwarnings('ignore')

In [110]:
df = pd.read_csv('T20I_ball_by_ball_updated.csv')

In [111]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,211048,2004/05,2005-02-17,Eden Park,1,0.1,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,211048,2004/05,2005-02-17,Eden Park,1,0.2,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,211048,2004/05,2005-02-17,Eden Park,1,0.3,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,211048,2004/05,2005-02-17,Eden Park,1,0.4,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,211048,2004/05,2005-02-17,Eden Park,1,0.5,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
df.tail(5)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
540327,1298144,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",2,19.2,Namibia,United Arab Emirates,D Wiese,R Trumpelmann,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
540328,1298144,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",2,19.3,Namibia,United Arab Emirates,R Trumpelmann,D Wiese,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
540329,1298144,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",2,19.4,Namibia,United Arab Emirates,D Wiese,R Trumpelmann,...,0,NaN,NaN,NaN,NaN,NaN,caught,D Wiese,NaN,NaN
540330,1298144,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",2,19.5,Namibia,United Arab Emirates,BM Scholtz,R Trumpelmann,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
540331,1298144,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",2,19.6,Namibia,United Arab Emirates,R Trumpelmann,BM Scholtz,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
df['batting_team'].unique()

array(['Australia', 'New Zealand', 'England', 'South Africa',
       'West Indies', 'Sri Lanka', 'Pakistan', 'India', 'Kenya',
       'Bangladesh', 'Scotland', 'Zimbabwe', 'Bermuda', 'Ireland',
       'Netherlands', 'Afghanistan', 'Canada', 'Nepal', 'Hong Kong',
       'United Arab Emirates', 'Papua New Guinea', 'Oman', 'ICC World XI',
       'Malaysia', 'Thailand', 'Uganda', 'Botswana', 'Lesotho', 'Malawi',
       'Namibia', 'Sierra Leone', 'Mozambique', 'China', 'Kuwait',
       'United States of America', 'Philippines', 'Vanuatu', 'Nigeria',
       'Tanzania', 'Japan', 'Indonesia', 'Fiji', 'Rwanda', 'Samoa',
       'Ghana', 'Germany', 'Italy', 'Guernsey', 'Jersey', 'Denmark',
       'Norway', 'Mali', 'Maldives', 'Singapore', 'Qatar',
       'Cayman Islands', 'South Korea', 'Portugal', 'Spain', 'Gibraltar',
       'Bhutan', 'Saudi Arabia', 'Bahrain', 'Iran', 'Austria',
       'Isle of Man', 'Belgium', 'Luxembourg', 'Czech Republic',
       'Bulgaria', 'Romania', 'Greece', 'Serbia', 'Malta', 'France',
       'Sweden', 'Finland', 'Hungary', 'Eswatini', 'Cameroon', 'Estonia',
       'Cyprus', 'Swaziland', 'Seychelles', 'Argentina', 'Brazil',
       'Switzerland', 'Belize', 'Bahamas', 'Panama', 'Israel', 'Turkey',
       'Croatia', 'Slovenia', 'Barbados', 'Cook Islands'], dtype=object)

In [114]:
consistent_teams=['Australia','Sri Lanka','India', 'Bangladesh', 'New Zealand', 'South Africa', 'England',
       'West Indies', 'Pakistan']

In [115]:
df['batting_team'].isin(consistent_teams)

0          True
1          True
2          True
3          True
4          True
          ...
540327    False
540328    False
540329    False
540330    False
540331    False
Name: batting_team, Length: 540332, dtype: bool

In [116]:
df[df['batting_team'].isin(consistent_teams)]

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,211048,2004/05,2005-02-17,Eden Park,1,0.1,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,211048,2004/05,2005-02-17,Eden Park,1,0.2,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,211048,2004/05,2005-02-17,Eden Park,1,0.3,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,211048,2004/05,2005-02-17,Eden Park,1,0.4,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,211048,2004/05,2005-02-17,Eden Park,1,0.5,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539950,1298143,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",1,19.2,Sri Lanka,Netherlands,BKG Mendis,PWH de Silva,...,0,NaN,NaN,NaN,NaN,NaN,caught,BKG Mendis,NaN,NaN
539951,1298143,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",1,19.3,Sri Lanka,Netherlands,C Karunaratne,PWH de Silva,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539952,1298143,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",1,19.4,Sri Lanka,Netherlands,PWH de Silva,C Karunaratne,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539953,1298143,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",1,19.5,Sri Lanka,Netherlands,C Karunaratne,PWH de Silva,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539954,1298143,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",1,19.6,Sri Lanka,Netherlands,PWH de Silva,C Karunaratne,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
df=df[df['batting_team'].isin(consistent_teams)]

In [118]:
df=df[df['bowling_team'].isin(consistent_teams)]

In [119]:
df['batting_team'].unique()

array(['Australia', 'New Zealand', 'England', 'South Africa',
       'West Indies', 'Sri Lanka', 'Pakistan', 'India', 'Bangladesh'],
      dtype=object)

In [120]:
df['bowling_team'].unique()

array(['New Zealand', 'Australia', 'England', 'South Africa',
       'West Indies', 'Sri Lanka', 'Pakistan', 'India', 'Bangladesh'],
      dtype=object)

In [121]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,211048,2004/05,2005-02-17,Eden Park,1,0.1,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
df.sort_values(['match_id', 'innings'], ascending=[True, True])

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
245,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,GO Jones,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,ME Trescothick,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,ME Trescothick,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,ME Trescothick,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536847,1335808,2022/23,2022-10-15,Sylhet International Cricket Stadium,2,7.6,India,Sri Lanka,S Mandhana,H Kaur,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536848,1335808,2022/23,2022-10-15,Sylhet International Cricket Stadium,2,8.1,India,Sri Lanka,H Kaur,S Mandhana,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536849,1335808,2022/23,2022-10-15,Sylhet International Cricket Stadium,2,8.2,India,Sri Lanka,H Kaur,S Mandhana,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536850,1335808,2022/23,2022-10-15,Sylhet International Cricket Stadium,2,8.3,India,Sri Lanka,S Mandhana,H Kaur,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536851,1335808,2022/23,2022-10-15,Sylhet International Cricket Stadium,2,8.4,India,Sri Lanka,S Mandhana,H Kaur,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,211048,2004/05,2005-02-17,Eden Park,1,0.1,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
df['overs']=df['ball']

In [125]:
#make string version of original column
df['ball']=df['ball'].astype(str)

In [126]:
df['ball'].str[0:-1]

0         0.
1         0.
2         0.
3         0.
4         0.
          ..
536847    7.
536848    8.
536849    8.
536850    8.
536851    8.
Name: ball, Length: 239117, dtype: object

In [127]:
df['over']=df['ball'].str[0:-1]

In [128]:
df['over'].str.replace('.', '')

0         0
1         0
2         0
3         0
4         0
         ..
536847    7
536848    8
536849    8
536850    8
536851    8
Name: over, Length: 239117, dtype: object

In [129]:
df['over']=df['over'].str.replace('.', '')

In [130]:
df['ball'].str[-1]

0         1
1         2
2         3
3         4
4         5
         ..
536847    6
536848    1
536849    2
536850    3
536851    4
Name: ball, Length: 239117, dtype: object

In [131]:
df['ball']=df['ball'].str[-1]

In [132]:
df['ball']= df['ball'].astype(int)

In [133]:
df['over']= df['over'].astype(int)

In [134]:
df.head(5)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,overs,over
0,211048,2004/05,2005-02-17,Eden Park,1,1,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,0
1,211048,2004/05,2005-02-17,Eden Park,1,2,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.2,0
2,211048,2004/05,2005-02-17,Eden Park,1,3,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,0
3,211048,2004/05,2005-02-17,Eden Park,1,4,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,0
4,211048,2004/05,2005-02-17,Eden Park,1,5,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0

In [135]:
df['total_runs']=df['runs_off_bat']+df['extras']

In [136]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,overs,over,total_runs
0,211048,2004/05,2005-02-17,Eden Park,1,1,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,0,1

In [137]:
df=df[['match_id', 'innings', 'batting_team', 'bowling_team', 'overs', 'over', 'ball',
       'total_runs', 'player_dismissed',]]

In [138]:
df=df.rename(columns={"match_id": "id"})

In [139]:
df

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed
0,211048,1,Australia,New Zealand,0.1,0,1,1,NaN
1,211048,1,Australia,New Zealand,0.2,0,2,1,NaN
2,211048,1,Australia,New Zealand,0.3,0,3,0,NaN
3,211048,1,Australia,New Zealand,0.4,0,4,1,NaN
4,211048,1,Australia,New Zealand,0.5,0,5,1,NaN
...,...,...,...,...,...,...,...,...,...
536847,1335808,2,India,Sri Lanka,7.6,7,6,0,NaN
536848,1335808,2,India,Sri Lanka,8.1,8,1,1,NaN
536849,1335808,2,India,Sri Lanka,8.2,8,2,1,NaN
536850,1335808,2,India,Sri Lanka,8.3,8,3,4,NaN
536851,1335808,2,India,Sri Lanka,8.4,8,4,6,NaN

In [140]:
 df = df.replace(np.nan, 0)

In [141]:
df

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed
0,211048,1,Australia,New Zealand,0.1,0,1,1,0
1,211048,1,Australia,New Zealand,0.2,0,2,1,0
2,211048,1,Australia,New Zealand,0.3,0,3,0,0
3,211048,1,Australia,New Zealand,0.4,0,4,1,0
4,211048,1,Australia,New Zealand,0.5,0,5,1,0
...,...,...,...,...,...,...,...,...,...
536847,1335808,2,India,Sri Lanka,7.6,7,6,0,0
536848,1335808,2,India,Sri Lanka,8.1,8,1,1,0
536849,1335808,2,India,Sri Lanka,8.2,8,2,1,0
536850,1335808,2,India,Sri Lanka,8.3,8,3,4,0
536851,1335808,2,India,Sri Lanka,8.4,8,4,6,0

In [142]:
df.groupby(['id', 'innings'])['total_runs'].transform('sum')

0         214
1         214
2         214
3         214
4         214
         ...
536847     71
536848     71
536849     71
536850     71
536851     71
Name: total_runs, Length: 239117, dtype: int64

In [143]:
df['total']=df.groupby(['id', 'innings'])['total_runs'].transform('sum')

In [144]:
df.groupby(['id', 'innings'])['total_runs'].apply(lambda x: x.cumsum())

id       innings
211028   1        245        0
                  246        1
                  247        1
                  248        1
                  249        1
                            ..
1335808  2        536847    59
                  536848    60
                  536849    61
                  536850    65
                  536851    71
Name: total_runs, Length: 239117, dtype: int64

In [145]:
df['total_score'] = df.groupby(['id', 'innings'])['total_runs'].transform('cumsum')

In [146]:
df.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score
0,211048,1,Australia,New Zealand,0.1,0,1,1,0,214,1
1,211048,1,Australia,New Zealand,0.2,0,2,1,0,214,2
2,211048,1,Australia,New Zealand,0.3,0,3,0,0,214,2
3,211048,1,Australia,New Zealand,0.4,0,4,1,0,214,3
4,211048,1,Australia,New Zealand,0.5,0,5,1,0,214,4

In [147]:
df.groupby(['id','innings'])['total_runs'].rolling(min_periods=1, window=30).sum().reset_index()

             id  innings  level_2  total_runs
0        211028        1      245         0.0
1        211028        1      246         1.0
2        211028        1      247         1.0
3        211028        1      248         1.0
4        211028        1      249         1.0
...         ...      ...      ...         ...
239112  1335808        2   536847        34.0
239113  1335808        2   536848        29.0
239114  1335808        2   536849        29.0
239115  1335808        2   536850        33.0
239116  1335808        2   536851        39.0

[239117 rows x 4 columns]

In [148]:
tmp=df.groupby(['id','innings'])['total_runs'].rolling(min_periods=1, window=30).sum().reset_index()

In [149]:
tmp[['total_runs']]

        total_runs
0              0.0
1              1.0
2              1.0
3              1.0
4              1.0
...            ...
239112        34.0
239113        29.0
239114        29.0
239115        33.0
239116        39.0

[239117 rows x 1 columns]

In [150]:
df['prev_30_runs']=tmp['total_runs'].to_list()

In [151]:
df.head(10)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs
0,211048,1,Australia,New Zealand,0.1,0,1,1,0,214,1,0.0
1,211048,1,Australia,New Zealand,0.2,0,2,1,0,214,2,1.0
2,211048,1,Australia,New Zealand,0.3,0,3,0,0,214,2,1.0
3,211048,1,Australia,New Zealand,0.4,0,4,1,0,214,3,1.0
4,211048,1,Australia,New Zealand,0.5,0,5,1,0,214,4,1.0
5,211048,1,Australia,New Zealand,0.6,0,6,6,0,214,10,2.0
6,211048,1,Australia,New Zealand,0.7,0,7,0,MJ Clarke,214,10,4.0
7,211048,1,Australia,New Zealand,1.1,1,1,0,0,214,10,4.0
8,211048,1,Australia,New Zealand,1.2,1,2,4,0,214,14,4.0
9,211048,1,Australia,New Zealand,1.3,1,3,6,0,214,20,5.0

In [152]:
df['player_dismissed'].unique()

array([0, 'MJ Clarke', 'AC Gilchrist', ..., 'RS Gayakwad', 'MG Bracewell',
       'Yasir Ali Chowdhury'], dtype=object)

In [153]:
df['player_dismissed']=np.where(df['player_dismissed']==0, 0, 1)

In [154]:
tmp=df.groupby(['id', 'innings'])['player_dismissed'].rolling(min_periods=1, window=30).sum().reset_index()

df['prev_30_wickets']=tmp['player_dismissed'].to_list()

In [155]:
df.head(60)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets
0,211048,1,Australia,New Zealand,0.1,0,1,1,0,214,1,0.0,0.0
1,211048,1,Australia,New Zealand,0.2,0,2,1,0,214,2,1.0,0.0
2,211048,1,Australia,New Zealand,0.3,0,3,0,0,214,2,1.0,0.0
3,211048,1,Australia,New Zealand,0.4,0,4,1,0,214,3,1.0,0.0
4,211048,1,Australia,New Zealand,0.5,0,5,1,0,214,4,1.0,0.0
5,211048,1,Australia,New Zealand,0.6,0,6,6,0,214,10,2.0,0.0
6,211048,1,Australia,New Zealand,0.7,0,7,0,1,214,10,4.0,0.0
7,211048,1,Australia,New Zealand,1.1,1,1,0,0,214,10,4.0,0.0
8,211048,1,Australia,New Zealand,1.2,1,2,4,0,214,14,4.0,0.0
9,211048,1,Australia,New Zealand,1.3,1,3,6,0,214,20,5.0,0.0
10,211048,1,Australia,New Zealand,1.4,1,4,1,0,214,21,5.0,0.0
11,211048,1,Australia,New Zealand,1.5,1,5,0,1,214,21,5.0,0.0
12,211048,1,Australia,New Zealand,1.6,1,6,1,0,214,22,5.0,0.0
13,211048,1,Australia,New Zealand,2.1,2,1,0,0,214,22,6.0,0.0
14,211048,1,Australia,New Zealand,2.2,2,2,0,0,214,22,10.0,0.0
15,211048,1,Australia,New Zealand,2.3,2,3,1,0,214,23,11.0,0.0
16,211048,1,Australia,New Zealand,2.4,2,4,2,0,214,25,11.0,0.0
17,211048,1,Australia,New Zealand,2.5,2,5,0,0,214,25,15.0,0.0
18,211048,1,Australia,New Zealand,2.6,2,6,1,0,214,26,19.0,0.0
19,211048,1,Australia,New Zealand,3.1,3,1,4,0,214,30,20.0,0.0
20,211048,1,Australia,New Zealand,3.2,3,2,1,0,214,31,20.0,0.0
21,211048,1,Australia,New Zealand,3.3,3,3,6,0,214,37,24.0,0.0
22,211048,1,Australia,New Zealand,3.4,3,4,4,0,214,41,28.0,0.0
23,211048,1,Australia,New Zealand,3.5,3,5,4,0,214,45,28.0,0.0
24,211048,1,Australia,New Zealand,3.6,3,6,0,0,214,45,28.0,1.0
25,211048,1,Australia,New Zealand,3.7,3,7,1,0,214,46,29.0,1.0
26,211048,1,Australia,New Zealand,3.8,3,8,0,1,214,46,30.0,1.0
27,211048,1,Australia,New Zealand,4.1,4,1,4,0,214,50,32.0,1.0
28,211048,1,Australia,New Zealand,4.2,4,2,1,0,214,51,36.0,1.0
29,211048,1,Australia,New Zealand,4.3,4,3,0,0,214,51,37.0,1.0
30,211048,1,Australia,New Zealand,4.4,4,4,0,0,214,51,38.0,1.0
31,211048,1,Australia,New Zealand,4.5,4,5,2,0,214,53,38.0,1.0
32,211048,1,Australia,New Zealand,4.6,4,6,1,0,214,54,39.0,1.0
33,211048,1,Australia,New Zealand,5.1,5,1,0,1,214,54,42.0,1.0
34,211048,1,Australia,New Zealand,5.2,5,2,1,0,214,55,43.0,1.0
35,211048,1,Australia,New Zealand,5.3,5,3,1,0,214,56,42.0,1.0
36,211048,1,Australia,New Zealand,5.4,5,4,1,0,214,57,44.0,1.0
37,211048,1,Australia,New Zealand,5.5,5,5,0,0,214,57,45.0,1.0
38,211048,1,Australia,New Zealand,5.6,5,6,1,0,214,58,45.0,2.0
39,211048,1,Australia,New Zealand,6.1,6,1,1,0,214,59,45.0,2.0
40,211048,1,Australia,New Zealand,6.2,6,2,1,0,214,60,46.0,2.0
41,211048,1,Australia,New Zealand,6.3,6,3,1,0,214,61,46.0,2.0
42,211048,1,Australia,New Zealand,6.4,6,4,1,0,214,62,47.0,2.0
43,211048,1,Australia,New Zealand,6.5,6,5,1,0,214,63,46.0,2.0
44,211048,1,Australia,New Zealand,6.6,6,6,1,0,214,64,46.0,2.0
45,211048,1,Australia,New Zealand,7.1,7,1,0,0,214,64,47.0,2.0
46,211048,1,Australia,New Zealand,7.2,7,2,1,0,214,65,48.0,2.0
47,211048,1,Australia,New Zealand,7.3,7,3,4,0,214,69,48.0,2.0
48,211048,1,Australia,New Zealand,7.4,7,4,1,0,214,70,46.0,2.0
49,211048,1,Australia,New Zealand,7.5,7,5,1,0,214,71,46.0,2.0
50,211048,1,Australia,New Zealand,7.6,7,6,1,0,214,72,47.0,2.0
51,211048,1,Australia,New Zealand,8.1,8,1,1,0,214,73,44.0,2.0
52,211048,1,Australia,New Zealand,8.2,8,2,0,0,214,73,41.0,2.0
53,211048,1,Australia,New Zealand,8.3,8,3,1,0,214,74,42.0,2.0
54,211048,1,Australia,New Zealand,8.4,8,4,4,0,214,78,43.0,1.0
55,211048,1,Australia,New Zealand,8.5,8,5,0,0,214,78,46.0,1.0
56,211048,1,Australia,New Zealand,8.6,8,6,1,0,214,79,46.0,1.0
57,211048,1,Australia,New Zealand,9.1,9,1,4,0,214,83,50.0,1.0
58,211048,1,Australia,New Zealand,9.2,9,2,1,0,214,84,47.0,1.0
59,211048,1,Australia,New Zealand,9.3,9,3,1,0,214,85,48.0,1.0

In [156]:
df.groupby(['id', 'innings'])['player_dismissed'].apply(lambda x: x.cumsum())

id       innings
211028   1        245       0
                  246       0
                  247       0
                  248       0
                  249       0
                           ..
1335808  2        536847    2
                  536848    2
                  536849    2
                  536850    2
                  536851    2
Name: player_dismissed, Length: 239117, dtype: int32

In [157]:
# convert wicket column into 1/0
df['isWicket'] = df['player_dismissed'].notna().astype(int)

# cumulative wickets per innings per match
df['total_wickets'] = df.groupby(['id','innings'])['isWicket'].transform('cumsum')

In [158]:
df['prev_30_dot_balls']=df['total_runs']
df['prev_30_dot_balls']=np.where(df['prev_30_dot_balls']==0, 1, 0)

tmp=df.groupby(['id', 'innings'])['prev_30_dot_balls'].rolling(min_periods=1, window=30).sum().reset_index()
df['prev_30_dot_balls']=tmp['prev_30_dot_balls'].to_list()

In [159]:
df['prev_30_boundaries']=df['total_runs']
df['prev_30_boundaries']=np.where(df['prev_30_boundaries']>3, 1, 0)

tmp=df.groupby(['id', 'innings'])['prev_30_boundaries'].rolling(min_periods=1, window=30).sum().reset_index()
df['prev_30_boundaries']=tmp['prev_30_boundaries'].to_list()

In [160]:
df['total_balls']=df['over']*6+df['ball']

In [161]:
df.head(20)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,isWicket,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls
0,211048,1,Australia,New Zealand,0.1,0,1,1,0,214,1,0.0,0.0,1,1,1.0,0.0,1
1,211048,1,Australia,New Zealand,0.2,0,2,1,0,214,2,1.0,0.0,1,2,1.0,0.0,2
2,211048,1,Australia,New Zealand,0.3,0,3,0,0,214,2,1.0,0.0,1,3,2.0,0.0,3
3,211048,1,Australia,New Zealand,0.4,0,4,1,0,214,3,1.0,0.0,1,4,3.0,0.0,4
4,211048,1,Australia,New Zealand,0.5,0,5,1,0,214,4,1.0,0.0,1,5,4.0,0.0,5
5,211048,1,Australia,New Zealand,0.6,0,6,6,0,214,10,2.0,0.0,1,6,4.0,0.0,6
6,211048,1,Australia,New Zealand,0.7,0,7,0,1,214,10,4.0,0.0,1,7,4.0,0.0,7
7,211048,1,Australia,New Zealand,1.1,1,1,0,0,214,10,4.0,0.0,1,8,5.0,0.0,7
8,211048,1,Australia,New Zealand,1.2,1,2,4,0,214,14,4.0,0.0,1,9,6.0,0.0,8
9,211048,1,Australia,New Zealand,1.3,1,3,6,0,214,20,5.0,0.0,1,10,6.0,0.0,9
10,211048,1,Australia,New Zealand,1.4,1,4,1,0,214,21,5.0,0.0,1,11,7.0,0.0,10
11,211048,1,Australia,New Zealand,1.5,1,5,0,1,214,21,5.0,0.0,1,12,8.0,0.0,11
12,211048,1,Australia,New Zealand,1.6,1,6,1,0,214,22,5.0,0.0,1,13,9.0,0.0,12
13,211048,1,Australia,New Zealand,2.1,2,1,0,0,214,22,6.0,0.0,1,14,9.0,0.0,13
14,211048,1,Australia,New Zealand,2.2,2,2,0,0,214,22,10.0,0.0,1,15,9.0,1.0,14
15,211048,1,Australia,New Zealand,2.3,2,3,1,0,214,23,11.0,0.0,1,16,9.0,1.0,15
16,211048,1,Australia,New Zealand,2.4,2,4,2,0,214,25,11.0,0.0,1,17,10.0,1.0,16
17,211048,1,Australia,New Zealand,2.5,2,5,0,0,214,25,15.0,0.0,1,18,10.0,2.0,17
18,211048,1,Australia,New Zealand,2.6,2,6,1,0,214,26,19.0,0.0,1,19,10.0,3.0,18
19,211048,1,Australia,New Zealand,3.1,3,1,4,0,214,30,20.0,0.0,1,20,10.0,3.0,19

In [162]:
df['run_rate']=6*(df['total_score'])/df['total_balls']

In [163]:
df.head(100)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,isWicket,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate
0,211048,1,Australia,New Zealand,0.1,0,1,1,0,214,1,0.0,0.0,1,1,1.0,0.0,1,6.000000
1,211048,1,Australia,New Zealand,0.2,0,2,1,0,214,2,1.0,0.0,1,2,1.0,0.0,2,6.000000
2,211048,1,Australia,New Zealand,0.3,0,3,0,0,214,2,1.0,0.0,1,3,2.0,0.0,3,4.000000
3,211048,1,Australia,New Zealand,0.4,0,4,1,0,214,3,1.0,0.0,1,4,3.0,0.0,4,4.500000
4,211048,1,Australia,New Zealand,0.5,0,5,1,0,214,4,1.0,0.0,1,5,4.0,0.0,5,4.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,211048,1,Australia,New Zealand,15.3,15,3,0,0,214,144,31.0,3.0,1,96,10.0,2.0,93,9.290323
96,211048,1,Australia,New Zealand,15.4,15,4,1,0,214,145,27.0,3.0,1,97,11.0,1.0,94,9.255319
97,211048,1,Australia,New Zealand,15.5,15,5,1,0,214,146,27.0,3.0,1,98,11.0,1.0,95,9.221053
98,211048,1,Australia,New Zealand,15.6,15,6,1,0,214,147,31.0,2.0,1,99,10.0,2.0,96,9.187500
99,211048,1,Australia,New Zealand,16.1,16,1,1,0,214,148,31.0,2.0,1,100,10.0,2.0,97,9.154639

In [164]:
df.groupby(['id','innings'])['run_rate'].rolling(min_periods=1, window=30).mean().reset_index()

             id  innings  level_2  run_rate
0        211028        1      245  0.000000
1        211028        1      246  1.500000
2        211028        1      247  1.666667
3        211028        1      248  1.625000
4        211028        1      249  1.540000
...         ...      ...      ...       ...
239112  1335808        2   536847  7.866829
239113  1335808        2   536848  7.785411
239114  1335808        2   536849  7.709411
239115  1335808        2   536850  7.659551
239116  1335808        2   536851  7.641719

[239117 rows x 4 columns]

In [165]:
tmp=df.groupby(['id','innings'])['run_rate'].rolling(min_periods=1, window=30).mean().reset_index()

In [166]:
tmp['run_rate']

0         0.000000
1         1.500000
2         1.666667
3         1.625000
4         1.540000
            ...
239112    7.866829
239113    7.785411
239114    7.709411
239115    7.659551
239116    7.641719
Name: run_rate, Length: 239117, dtype: float64

In [167]:
df['prev_30_run_rate']=tmp['run_rate'].to_list()

In [168]:
df.head(5)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,isWicket,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
0,211048,1,Australia,New Zealand,0.1,0,1,1,0,214,1,0.0,0.0,1,1,1.0,0.0,1,6.0,0.000000
1,211048,1,Australia,New Zealand,0.2,0,2,1,0,214,2,1.0,0.0,1,2,1.0,0.0,2,6.0,1.500000
2,211048,1,Australia,New Zealand,0.3,0,3,0,0,214,2,1.0,0.0,1,3,2.0,0.0,3,4.0,1.666667
3,211048,1,Australia,New Zealand,0.4,0,4,1,0,214,3,1.0,0.0,1,4,3.0,0.0,4,4.5,1.625000
4,211048,1,Australia,New Zealand,0.5,0,5,1,0,214,4,1.0,0.0,1,5,4.0,0.0,5,4.8,1.540000

In [169]:
df['player_dismissed'].unique()

array([0, 1])

In [170]:
df['player_dismissed']=np.where(df['player_dismissed']==0, 0, 1)

In [171]:
tmp=df.groupby(['id', 'innings'])['player_dismissed'].rolling(min_periods=1, window=30).sum().reset_index()

df['prev_30_wickets']=tmp['player_dismissed'].to_list()

In [172]:
df.head(60)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,isWicket,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
0,211048,1,Australia,New Zealand,0.1,0,1,1,0,214,1,0.0,0.0,1,1,1.0,0.0,1,6.000000,0.000000
1,211048,1,Australia,New Zealand,0.2,0,2,1,0,214,2,1.0,0.0,1,2,1.0,0.0,2,6.000000,1.500000
2,211048,1,Australia,New Zealand,0.3,0,3,0,0,214,2,1.0,0.0,1,3,2.0,0.0,3,4.000000,1.666667
3,211048,1,Australia,New Zealand,0.4,0,4,1,0,214,3,1.0,0.0,1,4,3.0,0.0,4,4.500000,1.625000
4,211048,1,Australia,New Zealand,0.5,0,5,1,0,214,4,1.0,0.0,1,5,4.0,0.0,5,4.800000,1.540000
5,211048,1,Australia,New Zealand,0.6,0,6,6,0,214,10,2.0,0.0,1,6,4.0,0.0,6,10.000000,1.616667
6,211048,1,Australia,New Zealand,0.7,0,7,0,1,214,10,4.0,0.0,1,7,4.0,0.0,7,8.571429,1.875510
7,211048,1,Australia,New Zealand,1.1,1,1,0,0,214,10,4.0,0.0,1,8,5.0,0.0,7,8.571429,2.069643
8,211048,1,Australia,New Zealand,1.2,1,2,4,0,214,14,4.0,0.0,1,9,6.0,0.0,8,10.500000,2.173016
9,211048,1,Australia,New Zealand,1.3,1,3,6,0,214,20,5.0,0.0,1,10,6.0,0.0,9,13.333333,2.289048
10,211048,1,Australia,New Zealand,1.4,1,4,1,0,214,21,5.0,0.0,1,11,7.0,0.0,10,12.600000,2.353680
11,211048,1,Australia,New Zealand,1.5,1,5,0,1,214,21,5.0,0.0,1,12,8.0,0.0,11,11.454545,2.384812
12,211048,1,Australia,New Zealand,1.6,1,6,1,0,214,22,5.0,0.0,1,13,9.0,0.0,12,11.000000,2.393673
13,211048,1,Australia,New Zealand,2.1,2,1,0,0,214,22,6.0,0.0,1,14,9.0,0.0,13,10.153846,2.420499
14,211048,1,Australia,New Zealand,2.2,2,2,0,0,214,22,10.0,0.0,1,15,9.0,1.0,14,9.428571,2.566824
15,211048,1,Australia,New Zealand,2.3,2,3,1,0,214,23,11.0,0.0,1,16,9.0,1.0,15,9.200000,2.701041
16,211048,1,Australia,New Zealand,2.4,2,4,2,0,214,25,11.0,0.0,1,17,10.0,1.0,16,9.375000,2.800979
17,211048,1,Australia,New Zealand,2.5,2,5,0,0,214,25,15.0,0.0,1,18,10.0,2.0,17,8.823529,2.957869
18,211048,1,Australia,New Zealand,2.6,2,6,1,0,214,26,19.0,0.0,1,19,10.0,3.0,18,8.666667,3.155133
19,211048,1,Australia,New Zealand,3.1,3,1,4,0,214,30,20.0,0.0,1,20,10.0,3.0,19,9.473684,3.330710
20,211048,1,Australia,New Zealand,3.2,3,2,1,0,214,31,20.0,0.0,1,21,11.0,3.0,20,9.300000,3.472857
21,211048,1,Australia,New Zealand,3.3,3,3,6,0,214,37,24.0,0.0,1,22,11.0,4.0,21,10.571429,3.642272
22,211048,1,Australia,New Zealand,3.4,3,4,4,0,214,41,28.0,0.0,1,23,11.0,5.0,22,11.181818,3.831739
23,211048,1,Australia,New Zealand,3.5,3,5,4,0,214,45,28.0,0.0,1,24,12.0,5.0,23,11.739130,3.990265
24,211048,1,Australia,New Zealand,3.6,3,6,0,0,214,45,28.0,1.0,1,25,13.0,5.0,24,11.250000,4.122828
25,211048,1,Australia,New Zealand,3.7,3,7,1,0,214,46,29.0,1.0,1,26,13.0,5.0,25,11.040000,4.243104
26,211048,1,Australia,New Zealand,3.8,3,8,0,1,214,46,30.0,1.0,1,27,13.0,5.0,26,10.615385,4.352619
27,211048,1,Australia,New Zealand,4.1,4,1,4,0,214,50,32.0,1.0,1,28,13.0,5.0,25,12.000000,4.460904
28,211048,1,Australia,New Zealand,4.2,4,2,1,0,214,51,36.0,1.0,1,29,13.0,6.0,26,11.769231,4.582942
29,211048,1,Australia,New Zealand,4.3,4,3,0,0,214,51,37.0,1.0,1,30,13.0,6.0,27,11.333333,4.694463
30,211048,1,Australia,New Zealand,4.4,4,4,0,0,214,51,38.0,1.0,1,31,12.0,6.0,28,10.928571,4.956532
31,211048,1,Australia,New Zealand,4.5,4,5,2,0,214,53,38.0,1.0,1,32,12.0,6.0,29,10.965517,5.116532
32,211048,1,Australia,New Zealand,4.6,4,6,1,0,214,54,39.0,1.0,1,33,11.0,6.0,30,10.800000,5.307930
33,211048,1,Australia,New Zealand,5.1,5,1,0,1,214,54,42.0,1.0,1,34,10.0,6.0,31,10.451613,5.526680
34,211048,1,Australia,New Zealand,5.2,5,2,1,0,214,55,43.0,1.0,1,35,9.0,6.0,32,10.312500,5.770551
35,211048,1,Australia,New Zealand,5.3,5,3,1,0,214,56,42.0,1.0,1,36,10.0,6.0,33,10.181818,5.978884
36,211048,1,Australia,New Zealand,5.4,5,4,1,0,214,57,44.0,1.0,1,37,10.0,7.0,34,10.058824,6.155507
37,211048,1,Australia,New Zealand,5.5,5,5,0,0,214,57,45.0,1.0,1,38,9.0,7.0,35,9.771429,6.329457
38,211048,1,Australia,New Zealand,5.6,5,6,1,0,214,58,45.0,2.0,1,39,9.0,7.0,36,9.666667,6.509457
39,211048,1,Australia,New Zealand,6.1,6,1,1,0,214,59,45.0,2.0,1,40,9.0,7.0,37,9.567568,6.676124
40,211048,1,Australia,New Zealand,6.2,6,2,1,0,214,60,46.0,2.0,1,41,8.0,7.0,38,9.473684,6.851799
41,211048,1,Australia,New Zealand,6.3,6,3,1,0,214,61,46.0,2.0,1,42,8.0,7.0,39,9.384615,7.029311
42,211048,1,Australia,New Zealand,6.4,6,4,1,0,214,62,47.0,2.0,1,43,7.0,7.0,40,9.300000,7.212645
43,211048,1,Australia,New Zealand,6.5,6,5,1,0,214,63,46.0,2.0,1,44,8.0,7.0,41,9.219512,7.380337
44,211048,1,Australia,New Zealand,6.6,6,6,1,0,214,64,46.0,2.0,1,45,8.0,7.0,42,9.142857,7.499661
45,211048,1,Australia,New Zealand,7.1,7,1,0,0,214,64,47.0,2.0,1,46,8.0,7.0,43,8.930233,7.618709
46,211048,1,Australia,New Zealand,7.2,7,2,1,0,214,65,48.0,2.0,1,47,7.0,7.0,44,8.863636,7.746461
47,211048,1,Australia,New Zealand,7.3,7,3,4,0,214,69,48.0,2.0,1,48,7.0,7.0,45,9.200000,7.845325
48,211048,1,Australia,New Zealand,7.4,7,4,1,0,214,70,46.0,2.0,1,49,7.0,6.0,46,9.130435,7.910684
49,211048,1,Australia,New Zealand,7.5,7,5,1,0,214,71,46.0,2.0,1,50,7.0,6.0,47,9.063830,7.975418
50,211048,1,Australia,New Zealand,7.6,7,6,1,0,214,72,47.0,2.0,1,51,6.0,6.0,48,9.000000,8.049999
51,211048,1,Australia,New Zealand,8.1,8,1,1,0,214,73,44.0,2.0,1,52,6.0,5.0,49,8.938776,8.093332
52,211048,1,Australia,New Zealand,8.2,8,2,0,0,214,73,41.0,2.0,1,53,6.0,4.0,50,8.760000,8.108298
53,211048,1,Australia,New Zealand,8.3,8,3,1,0,214,74,42.0,2.0,1,54,5.0,4.0,51,8.705882,8.133752
54,211048,1,Australia,New Zealand,8.4,8,4,4,0,214,78,43.0,1.0,1,55,4.0,4.0,52,9.000000,8.168706
55,211048,1,Australia,New Zealand,8.5,8,5,0,0,214,78,46.0,1.0,1,56,4.0,5.0,53,8.830189,8.215500
56,211048,1,Australia,New Zealand,8.6,8,6,1,0,214,79,46.0,1.0,1,57,4.0,5.0,54,8.777778,8.262293
57,211048,1,Australia,New Zealand,9.1,9,1,4,0,214,83,50.0,1.0,1,58,4.0,6.0,55,9.054545,8.319843
58,211048,1,Australia,New Zealand,9.2,9,2,1,0,214,84,47.0,1.0,1,59,4.0,5.0,56,9.000000,8.354994
59,211048,1,Australia,New Zealand,9.3,9,3,1,0,214,85,48.0,1.0,1,60,4.0,5.0,57,8.947368,8.394280

In [173]:
df.groupby(['id', 'innings'])['player_dismissed'].apply(lambda x: x.cumsum())

id       innings
211028   1        245       0
                  246       0
                  247       0
                  248       0
                  249       0
                           ..
1335808  2        536847    2
                  536848    2
                  536849    2
                  536850    2
                  536851    2
Name: player_dismissed, Length: 239117, dtype: int32

In [174]:
df['isWicket'] = df['player_dismissed'].notna().astype(int)
df['total_wickets'] = df.groupby(['id','innings'])['isWicket'].transform('cumsum')

In [175]:
df['prev_30_dot_balls']=df['total_runs']
df['prev_30_dot_balls']=np.where(df['prev_30_dot_balls']==0, 1, 0)

tmp=df.groupby(['id', 'innings'])['prev_30_dot_balls'].rolling(min_periods=1, window=30).sum().reset_index()
df['prev_30_dot_balls']=tmp['prev_30_dot_balls'].to_list()

In [176]:
df['prev_30_boundaries']=df['total_runs']
df['prev_30_boundaries']=np.where(df['prev_30_boundaries']>3, 1, 0)

tmp=df.groupby(['id', 'innings'])['prev_30_boundaries'].rolling(min_periods=1, window=30).sum().reset_index()
df['prev_30_boundaries']=tmp['prev_30_boundaries'].to_list()

In [177]:
df['total_balls']=df['over']*6+df['ball']

In [178]:
df.head(20)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,isWicket,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
0,211048,1,Australia,New Zealand,0.1,0,1,1,0,214,1,0.0,0.0,1,1,1.0,0.0,1,6.000000,0.000000
1,211048,1,Australia,New Zealand,0.2,0,2,1,0,214,2,1.0,0.0,1,2,1.0,0.0,2,6.000000,1.500000
2,211048,1,Australia,New Zealand,0.3,0,3,0,0,214,2,1.0,0.0,1,3,2.0,0.0,3,4.000000,1.666667
3,211048,1,Australia,New Zealand,0.4,0,4,1,0,214,3,1.0,0.0,1,4,3.0,0.0,4,4.500000,1.625000
4,211048,1,Australia,New Zealand,0.5,0,5,1,0,214,4,1.0,0.0,1,5,4.0,0.0,5,4.800000,1.540000
5,211048,1,Australia,New Zealand,0.6,0,6,6,0,214,10,2.0,0.0,1,6,4.0,0.0,6,10.000000,1.616667
6,211048,1,Australia,New Zealand,0.7,0,7,0,1,214,10,4.0,0.0,1,7,4.0,0.0,7,8.571429,1.875510
7,211048,1,Australia,New Zealand,1.1,1,1,0,0,214,10,4.0,0.0,1,8,5.0,0.0,7,8.571429,2.069643
8,211048,1,Australia,New Zealand,1.2,1,2,4,0,214,14,4.0,0.0,1,9,6.0,0.0,8,10.500000,2.173016
9,211048,1,Australia,New Zealand,1.3,1,3,6,0,214,20,5.0,0.0,1,10,6.0,0.0,9,13.333333,2.289048
10,211048,1,Australia,New Zealand,1.4,1,4,1,0,214,21,5.0,0.0,1,11,7.0,0.0,10,12.600000,2.353680
11,211048,1,Australia,New Zealand,1.5,1,5,0,1,214,21,5.0,0.0,1,12,8.0,0.0,11,11.454545,2.384812
12,211048,1,Australia,New Zealand,1.6,1,6,1,0,214,22,5.0,0.0,1,13,9.0,0.0,12,11.000000,2.393673
13,211048,1,Australia,New Zealand,2.1,2,1,0,0,214,22,6.0,0.0,1,14,9.0,0.0,13,10.153846,2.420499
14,211048,1,Australia,New Zealand,2.2,2,2,0,0,214,22,10.0,0.0,1,15,9.0,1.0,14,9.428571,2.566824
15,211048,1,Australia,New Zealand,2.3,2,3,1,0,214,23,11.0,0.0,1,16,9.0,1.0,15,9.200000,2.701041
16,211048,1,Australia,New Zealand,2.4,2,4,2,0,214,25,11.0,0.0,1,17,10.0,1.0,16,9.375000,2.800979
17,211048,1,Australia,New Zealand,2.5,2,5,0,0,214,25,15.0,0.0,1,18,10.0,2.0,17,8.823529,2.957869
18,211048,1,Australia,New Zealand,2.6,2,6,1,0,214,26,19.0,0.0,1,19,10.0,3.0,18,8.666667,3.155133
19,211048,1,Australia,New Zealand,3.1,3,1,4,0,214,30,20.0,0.0,1,20,10.0,3.0,19,9.473684,3.330710

In [179]:
df['run_rate']=6*(df['total_score'])/df['total_balls']

In [180]:
df.head(100)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,isWicket,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
0,211048,1,Australia,New Zealand,0.1,0,1,1,0,214,1,0.0,0.0,1,1,1.0,0.0,1,6.000000,0.000000
1,211048,1,Australia,New Zealand,0.2,0,2,1,0,214,2,1.0,0.0,1,2,1.0,0.0,2,6.000000,1.500000
2,211048,1,Australia,New Zealand,0.3,0,3,0,0,214,2,1.0,0.0,1,3,2.0,0.0,3,4.000000,1.666667
3,211048,1,Australia,New Zealand,0.4,0,4,1,0,214,3,1.0,0.0,1,4,3.0,0.0,4,4.500000,1.625000
4,211048,1,Australia,New Zealand,0.5,0,5,1,0,214,4,1.0,0.0,1,5,4.0,0.0,5,4.800000,1.540000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,211048,1,Australia,New Zealand,15.3,15,3,0,0,214,144,31.0,3.0,1,96,10.0,2.0,93,9.290323,8.505737
96,211048,1,Australia,New Zealand,15.4,15,4,1,0,214,145,27.0,3.0,1,97,11.0,1.0,94,9.255319,8.462419
97,211048,1,Australia,New Zealand,15.5,15,5,1,0,214,146,27.0,3.0,1,98,11.0,1.0,95,9.221053,8.420132
98,211048,1,Australia,New Zealand,15.6,15,6,1,0,214,147,31.0,2.0,1,99,10.0,2.0,96,9.187500,8.388229
99,211048,1,Australia,New Zealand,16.1,16,1,1,0,214,148,31.0,2.0,1,100,10.0,2.0,97,9.154639,8.357169

In [181]:
df.groupby(['id','innings'])['run_rate'].rolling(min_periods=1, window=30).mean().reset_index()

             id  innings  level_2  run_rate
0        211028        1      245  0.000000
1        211028        1      246  1.500000
2        211028        1      247  1.666667
3        211028        1      248  1.625000
4        211028        1      249  1.540000
...         ...      ...      ...       ...
239112  1335808        2   536847  7.866829
239113  1335808        2   536848  7.785411
239114  1335808        2   536849  7.709411
239115  1335808        2   536850  7.659551
239116  1335808        2   536851  7.641719

[239117 rows x 4 columns]

In [182]:
tmp=df.groupby(['id','innings'])['run_rate'].rolling(min_periods=1, window=30).mean().reset_index()

In [183]:
tmp['run_rate']

0         0.000000
1         1.500000
2         1.666667
3         1.625000
4         1.540000
            ...
239112    7.866829
239113    7.785411
239114    7.709411
239115    7.659551
239116    7.641719
Name: run_rate, Length: 239117, dtype: float64

In [184]:
df['prev_30_run_rate']=tmp['run_rate'].to_list()

In [185]:
df.head(5)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,isWicket,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
0,211048,1,Australia,New Zealand,0.1,0,1,1,0,214,1,0.0,0.0,1,1,1.0,0.0,1,6.0,0.000000
1,211048,1,Australia,New Zealand,0.2,0,2,1,0,214,2,1.0,0.0,1,2,1.0,0.0,2,6.0,1.500000
2,211048,1,Australia,New Zealand,0.3,0,3,0,0,214,2,1.0,0.0,1,3,2.0,0.0,3,4.0,1.666667
3,211048,1,Australia,New Zealand,0.4,0,4,1,0,214,3,1.0,0.0,1,4,3.0,0.0,4,4.5,1.625000
4,211048,1,Australia,New Zealand,0.5,0,5,1,0,214,4,1.0,0.0,1,5,4.0,0.0,5,4.8,1.540000

In [186]:
df.tail(5)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,isWicket,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
536847,1335808,2,India,Sri Lanka,7.6,7,6,0,0,71,59,34.0,2.0,1,49,14.0,5.0,48,7.375000,7.866829
536848,1335808,2,India,Sri Lanka,8.1,8,1,1,0,71,60,29.0,2.0,1,50,14.0,4.0,49,7.346939,7.785411
536849,1335808,2,India,Sri Lanka,8.2,8,2,1,0,71,61,29.0,2.0,1,51,14.0,4.0,50,7.320000,7.709411
536850,1335808,2,India,Sri Lanka,8.3,8,3,4,0,71,65,33.0,2.0,1,52,13.0,5.0,51,7.647059,7.659551
536851,1335808,2,India,Sri Lanka,8.4,8,4,6,0,71,71,39.0,1.0,1,53,12.0,6.0,52,8.192308,7.641719

In [187]:
convert_dict = {'prev_30_runs':int,
               'prev_30_wickets':int,
               'prev_30_dot_balls':int,
               'prev_30_boundaries':int,
               'run_rate':int,
               'prev_30_run_rate':int,
               }
df = df.astype(convert_dict)

In [188]:
df

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,isWicket,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
0,211048,1,Australia,New Zealand,0.1,0,1,1,0,214,1,0,0,1,1,1,0,1,6,0
1,211048,1,Australia,New Zealand,0.2,0,2,1,0,214,2,1,0,1,2,1,0,2,6,1
2,211048,1,Australia,New Zealand,0.3,0,3,0,0,214,2,1,0,1,3,2,0,3,4,1
3,211048,1,Australia,New Zealand,0.4,0,4,1,0,214,3,1,0,1,4,3,0,4,4,1
4,211048,1,Australia,New Zealand,0.5,0,5,1,0,214,4,1,0,1,5,4,0,5,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536847,1335808,2,India,Sri Lanka,7.6,7,6,0,0,71,59,34,2,1,49,14,5,48,7,7
536848,1335808,2,India,Sri Lanka,8.1,8,1,1,0,71,60,29,2,1,50,14,4,49,7,7
536849,1335808,2,India,Sri Lanka,8.2,8,2,1,0,71,61,29,2,1,51,14,4,50,7,7
536850,1335808,2,India,Sri Lanka,8.3,8,3,4,0,71,65,33,2,1,52,13,5,51,7,7
536851,1335808,2,India,Sri Lanka,8.4,8,4,6,0,71,71,39,1,1,53,12,6,52,8,7

In [189]:
df.to_csv('Data_with_add_features.csv', index=None)

In [190]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle
from sklearn.metrics import mean_absolute_error

In [191]:
df= pd.read_csv("Data_with_add_features.csv")

In [192]:
df.head(5)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,isWicket,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
0,211048,1,Australia,New Zealand,0.1,0,1,1,0,214,1,0,0,1,1,1,0,1,6,0
1,211048,1,Australia,New Zealand,0.2,0,2,1,0,214,2,1,0,1,2,1,0,2,6,1
2,211048,1,Australia,New Zealand,0.3,0,3,0,0,214,2,1,0,1,3,2,0,3,4,1
3,211048,1,Australia,New Zealand,0.4,0,4,1,0,214,3,1,0,1,4,3,0,4,4,1
4,211048,1,Australia,New Zealand,0.5,0,5,1,0,214,4,1,0,1,5,4,0,5,4,1

In [193]:
pd.get_dummies(data=df, columns=['batting_team', 'bowling_team'])

,id,innings,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,...,batting_team_West Indies,bowling_team_Australia,bowling_team_Bangladesh,bowling_team_England,bowling_team_India,bowling_team_New Zealand,bowling_team_Pakistan,bowling_team_South Africa,bowling_team_Sri Lanka,bowling_team_West Indies
0,211048,1,0.1,0,1,1,0,214,1,0,...,False,False,False,False,False,True,False,False,False,False
1,211048,1,0.2,0,2,1,0,214,2,1,...,False,False,False,False,False,True,False,False,False,False
2,211048,1,0.3,0,3,0,0,214,2,1,...,False,False,False,False,False,True,False,False,False,False
3,211048,1,0.4,0,4,1,0,214,3,1,...,False,False,False,False,False,True,False,False,False,False
4,211048,1,0.5,0,5,1,0,214,4,1,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239112,1335808,2,7.6,7,6,0,0,71,59,34,...,False,False,False,False,False,False,False,False,True,False
239113,1335808,2,8.1,8,1,1,0,71,60,29,...,False,False,False,False,False,False,False,False,True,False
239114,1335808,2,8.2,8,2,1,0,71,61,29,...,False,False,False,False,False,False,False,False,True,False
239115,1335808,2,8.3,8,3,4,0,71,65,33,...,False,False,False,False,False,False,False,False,True,False
239116,1335808,2,8.4,8,4,6,0,71,71,39,...,False,False,False,False,False,False,False,False,True,False

In [194]:
df=pd.get_dummies(data=df, columns=['batting_team', 'bowling_team'])

In [195]:
df.columns

Index(['id', 'innings', 'overs', 'over', 'ball', 'total_runs',
       'player_dismissed', 'total', 'total_score', 'prev_30_runs',
       'prev_30_wickets', 'isWicket', 'total_wickets', 'prev_30_dot_balls',
       'prev_30_boundaries', 'total_balls', 'run_rate', 'prev_30_run_rate',
       'batting_team_Australia', 'batting_team_Bangladesh',
       'batting_team_England', 'batting_team_India',
       'batting_team_New Zealand', 'batting_team_Pakistan',
       'batting_team_South Africa', 'batting_team_Sri Lanka',
       'batting_team_West Indies', 'bowling_team_Australia',
       'bowling_team_Bangladesh', 'bowling_team_England', 'bowling_team_India',
       'bowling_team_New Zealand', 'bowling_team_Pakistan',
       'bowling_team_South Africa', 'bowling_team_Sri Lanka',
       'bowling_team_West Indies'],
      dtype='object')

In [196]:
df=df[['id',  'batting_team_Australia', 'batting_team_Bangladesh', 'batting_team_England', 'batting_team_India', 
       'batting_team_New Zealand', 'batting_team_Pakistan', 'batting_team_South Africa', 'batting_team_Sri Lanka',
       'batting_team_West Indies', 'bowling_team_Australia','bowling_team_Bangladesh', 'bowling_team_England',
       'bowling_team_India','bowling_team_New Zealand', 'bowling_team_Pakistan', 'bowling_team_South Africa',
       'bowling_team_Sri Lanka', 'bowling_team_West Indies', 'overs', 'total_score','total_wickets', 'run_rate', 'prev_30_runs',
       'prev_30_wickets', 'prev_30_dot_balls','prev_30_boundaries', 'prev_30_run_rate','total']]

In [197]:
df.head()

,id,batting_team_Australia,batting_team_Bangladesh,batting_team_England,batting_team_India,batting_team_New Zealand,batting_team_Pakistan,batting_team_South Africa,batting_team_Sri Lanka,batting_team_West Indies,...,overs,total_score,total_wickets,run_rate,prev_30_runs,prev_30_wickets,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate,total
0,211048,True,False,False,False,False,False,False,False,False,...,0.1,1,1,6,0,0,1,0,0,214
1,211048,True,False,False,False,False,False,False,False,False,...,0.2,2,2,6,1,0,1,0,1,214
2,211048,True,False,False,False,False,False,False,False,False,...,0.3,2,3,4,1,0,2,0,1,214
3,211048,True,False,False,False,False,False,False,False,False,...,0.4,3,4,4,1,0,3,0,1,214
4,211048,True,False,False,False,False,False,False,False,False,...,0.5,4,5,4,1,0,4,0,1,214

In [198]:
X= df.drop(labels=['total','id'], axis=1)
y= df['total'].values

In [199]:
# split into train test sets
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=42,stratify=y)

In [200]:
X_train= X_train.values
X_test=X_test.values
X_train=np.asarray(X_train).astype(np.float32)
X_test=np.asarray(X_test).astype(np.float32)

In [201]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(179337, 27) (59780, 27) (179337,) (59780,)

In [202]:
LR_model = LinearRegression()
LR_model.fit(X_train, y_train)

LinearRegression()

In [203]:
#Creating a pickle file for the classifier
filename= 'lr-model.pkl'
pickle.dump(LR_model, open(filename, 'wb'))

In [204]:
prediction=LR_model.predict(X_test)
mean_absolute_error (y_test, prediction)

19.02276486358183

In [205]:
# Function to predict scores :

def score_prediction(Bat_team,Bowl_team,overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate):
     
    temp_array = list()
    
    if Bat_team == 'AUS':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0]
    elif Bat_team == 'BAN':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0]
    elif Bat_team == 'ENG':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0]
    elif Bat_team == 'IND':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0]
    elif Bat_team == 'NZ':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0]
    elif Bat_team == 'PAK':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0]
    elif Bat_team == 'SA':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0]
    elif Bat_team == 'SL':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0]
    elif Bat_team == 'WI':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1]
        
    if Bowl_team == 'AUS':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0]
    elif Bowl_team == 'BAN':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0]
    elif Bowl_team == 'ENG':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0]
    elif Bowl_team == 'IND':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0]
    elif Bowl_team == 'NZ':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0]
    elif Bowl_team == 'PAK':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0]
    elif Bowl_team == 'SA':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0]
    elif Bowl_team == 'SL':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0]
    elif Bowl_team == 'WI':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1]
        
    temp_array = temp_array + [overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate]
    data = np.array([temp_array])
    my_prediction = int(LR_model.predict(data))
    
    print('Predicted score: ',my_prediction)
    print('Predicted score range: ',my_prediction -18, 'to' ,my_prediction + 18)

In [206]:
def get_phase(overs):
    """Return the current phase and balls completed."""
    over = int(overs)
    ball = int(round((overs - over) * 10))
    balls_bowled = over * 6 + ball

    if balls_bowled <= 36:           # 6 overs
        return "Powerplay", balls_bowled
    elif balls_bowled <= 120:        # 20 overs
        return "Middle", balls_bowled
    else:
        return "Death", balls_bowled


def phase_wise_prediction(phase, run_rate, prev_runs_30, prev_30_run_rate):
    """Return expected runs for the phase based on current and last-30-ball form."""
    if phase == "Powerplay":
        phase_overs = 6
    elif phase == "Middle":
        phase_overs = 14
    else:
        phase_overs = 4

    # Weighted prediction: 60% current RR + 40% last-30-ball RR
    phase_rr = (0.6 * run_rate) + (0.4 * prev_30_run_rate)
    expected_phase_runs = round(phase_rr * phase_overs)

    return expected_phase_runs


def score_prediction_with_phase(Bat_team, Bowl_team, overs, total_score, total_wickets, run_rate,
                                prev_runs_30, prev_wickets_30, prev_30_dot_balls, 
                                prev_30_boundaries, prev_30_run_rate):

    # Call your existing score_prediction()
    base_pred = score_prediction(Bat_team, Bowl_team, overs, total_score, total_wickets, run_rate,
                                 prev_runs_30, prev_wickets_30, prev_30_dot_balls, 
                                 prev_30_boundaries, prev_30_run_rate)

    # Get current phase
    phase, balls_bowled = get_phase(overs)

    # Get phase prediction
    phase_pred = phase_wise_prediction(phase, run_rate, prev_runs_30, prev_30_run_rate)

    return {
        "current_phase": phase,
        "balls_bowled": balls_bowled,
        "current_total_prediction": base_pred,
        "expected_runs_in_phase": phase_pred
    }

In [208]:
Bat_team = 'AUS'
Bowl_team = 'IND'
overs = 10.3
total_score = 67
total_wickets = 2
run_rate = 6
prev_runs_30 = 37
prev_wickets_30 = 1
prev_30_dot_balls = 8
prev_30_boundaries = 5
prev_30_run_rate = 7



score_prediction_with_phase(Bat_team, Bowl_team, overs, total_score, total_wickets,
                            run_rate, prev_runs_30, prev_wickets_30,
                            prev_30_dot_balls, prev_30_boundaries, prev_30_run_rate)

Predicted score:  189
Predicted score range:  171 to 207

{'current_phase': 'Middle',
 'balls_bowled': 63,
 'current_total_prediction': None,
 'expected_runs_in_phase': 90}